@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;500&display=swap');
html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  html, body{
    overflow: auto;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif; 
}