@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;500&display=swap');
html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Poppins", "Manrope", sans-serif;
}

.font-sans {
  font-family: 'Montserrat', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}